$ceil-width: 100px;
$ceil-height: 100px;
$ceil-gap: 1px;
$ceil-border: 1px;
$font-size: 30px;
$font-family: arial, helvetica, sans-serif;

$days: (
  "tue": 1,
  "wed": 2,
  "thu": 3,
  "fri": 4,
  "sat": 5,
  "sun": 6
);
